{% block top %}
    <div class="navbar navbar-inverse navbar-static-top hidden-xs">
        <div class="container">
            <a href="{{ path('homepage') }}" class="navbar-brand pull l">
                <img class="img-responsive logo" src="{{ asset('/wiosloCMS/web/img/logo.png') }}" alt="logo">
            </a>
            <div class="row search"> <form class="navbar-form navbar-left" role="search" method="GET" action="{{ path('photo_search') }}"> <div class="input-group pull r"> <span class="input-group-btn"> <button type="submit" class="btn btn-default" type="button">Go!</button> </span> <input type="text" class="form-control"> </div><!-- /input-group --> </form> </div> <!-- end .row -->
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="log_reg navbar-brand hidden-xs hidden-sm">
                {% if is_granted('ROLE_USER') %}
                    Witaj {{ app.user.getUsername() }} - <a href="{{ path('logout') }}">Wyloguj się!</a>
                {% else %}
                    Witaj bezimienny <a href="{{ path('login') }}">Znamy się!</a> lub <a href="{{ path('register') }}">Zapoznajmy
                    się</a>
                {% endif %}
            </div>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeadercollapse">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>

            <div class="collapse navbar-collapse navHeadercollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ path('homepage') }}"><b class="glyphicon glyphicon-home"></b> Wiosło</a>
                    </li>
                    <li><a href="{{ path('photo_random') }}"><b class="glyphicon glyphicon-random"> </b> Random</a></li>
                    <li><a href="{{ path('photo_add') }}"><b class="glyphicon glyphicon-upload"> </b> Wrzuć!</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <b class="glyphicon glyphicon-chevron-down"></b>
                                Kradniemy
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('crawler_kwejk') }}"><b class="glyphicon glyphicon-upload"> </b>
                                        Kwejk</a></li>
                            </ul>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}