{% block body %}

    <div class="container" style="text-align: center">
        <center>

            <div class="imgArea">

                {% for flashMessage in app.session.flashbag.get('error') %}
                    {{ flashMessage }}
                {% endfor %}

                <h1 class="pOpisZdjecia">{{ photo.getName() }}</h1>

                <div class="img">
                    <div class="wrapimg">
                        <img class="img-responsive" src="{{ photo.getUri() }}" alt="{{ photo.getName() }}"/>
                        {% if is_granted('ROLE_USER') and (is_granted('ROLE_ADMIN') or photo.isOwner(app.user)) %}
                            <a href="{{ path('photo_delete', {'id' : photo.getId()}) }}">
                                <button type="button" class="btn buttondelete">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                            </a>
                        {% endif %}
                    </div>

                    <div class="btn-panel">
                        {% if hasPrevious %}
                            <a href="{{ path('photo_previous', {'id' : photo.getId()}) }}">
                                <button type="button" class="btn btn-default btn-lg imgBtnLeft">
                                    <span class="glyphicon glyphicon-chevron-left"></span> Prev
                                </button>
                            </a>
                        {% endif %}
                        {% if not hasPrevious and app.user and app.user.hasWhiteTemplate %}
                            <a href="{{ path('photo_previous', {'id' : photo.getId()}) }}">
                                <button type="button" disabled="disabled" class="btn btn-default btn-lg imgBtnLeft">
                                    <span class="glyphicon glyphicon-chevron-left"></span> Prev
                                </button>
                            </a>
                        {% endif %}
                        {% if hasNext %}
                            <a href="{{ path('photo_next', {'id' : photo.getId()}) }}">
                                <button type="button" class="btn btn-default btn-lg imgBtnRight">
                                    Next <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </a>
                        {% endif %}
                        {% if not hasNext and app.user and app.user.hasWhiteTemplate %}
                            <a href="{{ path('photo_next', {'id' : photo.getId()}) }}">
                                <button type="button" disabled="disabled" class="btn btn-default btn-lg imgBtnRight">
                                    Next <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </a>
                        {% endif %}
                        <a href="{{ path('rate', {'photoId' : photo.getId(), 'action' : 'minus'}) }}">
                            <button type="button" class="btn btn-default btn-lg imgBtnLeft  vote-down">
                                <span class="glyphicon glyphicon-thumbs-down"></span> {{ photo.getRating().getMinus() }}
                            </button>
                        </a>
                        <a href="{{ path('rate', {'photoId' : photo.getId(), 'action' : 'plus'}) }}">
                            <button type="button" class="btn btn-default btn-lg imgBtnRight vote-up">
                                <span class="glyphicon glyphicon-thumbs-up"></span> {{ photo.getRating().getPlus() }}
                            </button>
                        </a>
                    </div>
                </div>

                <button type="coments" class="btn btn-info btn-lg" data-toggle="collapse"
                        data-target=".onButtonPressShowComents1">
                    Comentarze<span class="glyphicon glyphicon-chevron-down"></span>
                </button>

                <div id="comentys" class="collapse onButtonPressShowComents1">
                    {{ render(controller('PhotoBundle:PhotoComment:add', {'photoId': photo.getId()})) }}
                    {{ render(controller('PhotoBundle:PhotoComment:getList', {'photo': photo})) }}
                </div>

                <iframe src="//www.facebook.com/plugins/like.php?href={{ app.request.getSchemeAndHttpHost() ~ path('homepage_photo', {'id': photo.getId()}) }}&amp;width&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=35&amp;appId=175778759265236"
                        scrolling="no" frameborder="0"
                        style="border:none; overflow:hidden; height:35px; width: 147px; margin: 20px 0 0 0;"
                        allowTransparency="true"></iframe>

            </div>
        </center>
    </div>
{% endblock %}
